* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(241, 241, 241);
}

.title-subtitle {
    text-align: center;

}

.title-subtitle h1 {
    font-weight: 400;
    font-size: 55px;
}

.title-subtitle p {
    color: rgb(39, 39, 39);
    font-size: 15px;
}


.about h2 {
    text-align: center;
    font-size: 25px;
}

.about .boxabout {
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    border: 1px solid rgb(206, 206, 206);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-height: 100px;
    max-width: 90%;
}

.about .boxabout h4 {
    margin-left: 20px;
    font-size: 20px;
}

.about .boxabout p {
    margin-left: 20px;
    
}


.courses h2{
    text-align: center;
    font-size: 25px;
}

.courses .card-courses {
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    border: 1px solid rgb(206, 206, 206);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-height: 135px;
    max-width: 90%;
}

.courses .card-courses h4 {
    margin-left: 20px;
}

.courses .card-courses p {
    margin-left: 20px;
    color: rgb(58, 58, 58);
}